* {
	box-sizing: border-box;
}

html, body, #app {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #eee;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1 {
	font-weight: 200;
	color: #3b414c;
	font-size: 20px;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.app {
	white-space: 'nowrap';
	height: 100%;
}

.list {
	position: relative;
	display: inline-block;	/* 가로 나열식으로 보여짐 */
	vertical-align: top;	/* 하위 엘리먼트가 없어도 위로 맞춤 */
	white-space: 'normal';
	height: 100%;
	width: 33%;
	padding: 0 20px;
	overflow: auto;
}
/* 가로 정렬 끝났음. 데이터가 없는 보드는 아래로 떨어짐 'ㄱ' 자 모양으로 */

.list:not(:last-child):after{
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	width: 1px;
	height: 99%;
	background: linear-gradient(to bottom, #eee 0%, #ccc 50%, #eee 100%) fixed;
}
/* 뭔지 모르겠는데 위에 걸 추가하니 리스트 사이에 세로 그라데이션 구분 선이 추가됨 */

.card {
	position: relative;
	z-index: 1;
	background: #fff;
	width: 100%;
	padding: 10px 10px 10px 15px; 	/* 왜 마지막은 15px 이지? */
	margin: 0 0 10px 0; 			/* 왜 세번째만 px 을 붙이지? */
	overflow: auto;
	border: 1px solid #e5e5df; 		/* 테두리 넣으니 낫구만 */
	border-radius: 3px;
	box-shadow:  0 1px 0 rgba(0, 0, 0, 0.25);
}

.card_title {
	font-weight: bold;
	border-bottom: solid 5px transparent;
}

.card_title:before {
	display: inline-block;	/* 이게 무슨 속성이지? */
	width: 1em;
	content: '▶︎';
}

.card_title--is-open:before {
	content: '▼';
}

.checklist_task:first-child {
	margin-top: 10px;
	padding-top: 10px;
	border-top: dashed 1px #ddd;
}

.checklist_task--remove:after {
	display: inline-block;
	color: #d66;
	content: '+';
}

/* 
	테스트 폼 만들기 항목에서 추가 
	input box 스타일
*/
.checklist--add-task {
	border: 1px dashed #bbb;
	width: 100%;
	padding: 10px;
	margin-top: 10px;
	border-radius: 3px;
}
